* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    border: 0;

}

.cabeçalho {
    background-image: url(../imagens/main-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: grid;
    align-items: center;
    padding-left: 30px;
} 

.titulo {
    color: white;
    width: 300px;
    font-size: 4.5em;
}

/*main*/
.principal {
    display: grid;
    grid-template-columns:1fr .5fr;
    margin: auto;
    padding: 20px;
}

.lorem {
    background-color: red;

}

.lorem > p {
    display: inline-block;
    width: 25%;
}

.imagens {
    display: inline-block;
    
}




.section {
    background-color: rgb(56, 54, 53);
    color: rgb(230, 222, 178);
    padding: 10px;
}

.logos {
    padding: 30px;
}

