* {
    margin: 0;
    padding: 0;
    border: 0;
}

.cabeçalho {
    background-image: url(../imagens/main-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: grid;
    align-items: center;
    padding-left: 30px;
} 

.titulo {
    color: white;
    width: 300px;
    font-size: 4.5em;
}

/*main*/
.principal {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1fr;
    margin: auto;
    padding: 20px;
}

.lorem {
  
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;


}

.alado {
    display: flex;
    flex-direction:row;
    justify-content: center;

}

.alado-img {
    margin: 0px 10px 0px 0px;
}

.section {
    background-color: rgb(56, 54, 53);
    color: red;
    padding: 55px;
}

